{% extends 'base.html' %}

{% block head_title %}Detail | {{ block.super }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
{% endblock %}

{% block content %}
<div class="frame_artical">
	<p>
		Welcome {{ user.first_name }}
		<br>
		<a href="{% url 'submit_paper' %}">Submit Paper</a>
		<br>
		<a href="{% url 'view_paper' %}">Back</a>
		<br>
		<form action="" method="post"><input type="hidden">
			{% csrf_token %}
			<fieldset class="module aligned ">
				{{ r.pk }}
	    		<div class="form-row field-name">
					<label class="required" for="id_name">Name:</label>
	                {{ r.name }}
	            </div>
		        <div class="form-row field-email">
		            <label class="required" for="id_email">Email:</label>
		            {{ r.email }}
		        </div>
		        <div class="form-row field-mobileNumber">
		            <label class="required" for="id_mobileNumber">Mobile Number:</label>
		            {{ r.mobileNumber }}
		        </div>
		        <div class="form-row field-title">
            		<label class="required" for="id_title">Title:</label>
                    {{ r.title }}
                </div>
                <div class="form-row field-body">
            		<label class="required" for="id_body">Body:</label>
                    {{ r.body }}
                </div>
		        <div class="form-row field-file">
		            <label class="required" for="id_file">File:</label>
		            <a href="/media/{{ r.file }}" target="_blank">{{ r.file }}</a>
		        </div>
			</fieldset>
		</form>
	</p>
</div>
{% endblock %}