{% extends "base.html" %}

{% block head_title %}Signup | {{ block.super }}{% endblock head_title %}

{% block content %}
<div class="frame_artical">
    <h1>Signup</h1>
    {% if messages %}
        {% for m in messages %}
            {{ m }}
        {% endfor %}
        <a href="{% url 'account:login' %}"> Go to Login Page</a>
    {% endif %}
    <form method="post" action="">{% csrf_token %}
        <div>
            <label>Username:</label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div>
            <label>First Name:</label>
            {{ form.first_name }}
        </div>
        <div>
            <label for="id_lastName">Last Name:</label>
            {{ form.last_name }}
        </div>
        <div>
            <label class="required" for="id_email">Email:</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div>
            <label class="required" for="id_password">Password:</label>
            {{ form.password }}
            {{ form.password.errors }}
            <ul>
                <li>Your password can&#39;t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can&#39;t be a commonly used password.</li>
                <li>Your password can&#39;t be entirely numeric.</li>
            </ul>
        </div>
        <div>
            <label class="required" for="id_confirm_password">Confirm password:</label>
            {{ form.confirm_password }}
            {{ form.confirm_password.errors }}
        </div>
        <div>
            <input type="submit" value="Signup" name="_save">
            <a href="{% url 'account:login' %}">Login</a>
        </div>
    </form>
</div>
{% endblock %}