{% extends "base.html" %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
{% endblock %}

{% block content %}
<div class="frame_artical">
	<p>
		Welcome {{ user.first_name }}
		<br>
		<a href="{% url 'view_paper' %}">View Paper</a>
		<br>
		<a href="{% url 'submit_paper' %}">Submit Paper</a>
		</form>
	</p>
</div>
{% endblock %}